<form
  [formGroup]="loginForm"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
>
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email" />
  </mat-form-field>

  <mat-form-field>
    <textarea
      matInput
      placeholder="Password"
      formControlName="password"
    ></textarea>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    [disabled]="loginForm.invalid"
    (click)="onSubmit()"
  >
    Submit
  </button>
</form>
